<h1> Hey <%=@user.username%>, heres your backlog </h1>

<ul>
    <%@users_games.each do |game|%>
    <%gid = game.game_id%>
    <li><form method = "get" action = "/game/<%=gid%>">
            <%=Game.find_by_id(gid).name%>
            <input name="game" type = "hidden" value = "<%=gid%>">
            <input type = "submit" value = "See Page">
        </form>
        <ul>Notes: <%=game.notes%></ul>
        <ul>Estimated Time to beat: <%=game.completion_time%> hours</ul>
        <br>
        <form method = "post" action = "/game/<%=gid%>">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input name ="game_id" type = "hidden" value = "<%=gid%>">
            <input type = "submit" value = "Delete Game from Your List">
        </form>
    </li>
    <%end%>
</ul>
<a href = "/user/<%=@user.id%>/gameslist/new">Click here to add to your list</a>
<br>
<a href = "/user/<%=@user.id%>/gameslist/edit">Click here to edit your list</a>
<br>
<p><a href="/user/logout">Log Out</a></p>