<h1> Hey <%=@user.username%>, heres your backlog </h1>

<ul>
    <%@users_games.each do |game|%>
    <li><%=Game.find_by_id(game.game_id).name%>
        <ul><%=game.notes%></ul>
        <ul><%=game.completion_time%></ul>
    </li>
    <%end%>
</ul>
<a href = "/user/<%=@user.id%>/gameslist/new">Click here to add to your list</a>
<br>
<a href = "/user/<%=@user.id%>/gameslist/edit">Click here to edit your list</a>
<br>
<p><a href="/user/logout">Log Out</a></p>